@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "keen-slider/keen-slider.min.css";

body {
  @apply bg-[#c7e1ff]
  transition-colors duration-500
}


.dark body {
  @apply bg-[#071d34] transition-colors duration-500
}